export SAKURACLOUD_ACCESS_TOKEN="..."
export SAKURACLOUD_ACCESS_TOKEN_SECRET="..."
export ICTSC_INFRA_PASSWORD="..."
export USER_PASSWORD="..."
export PASSWORD_SALT="ictsc2023"

export TF_STATE_BUCKET="ictsc2023"
export TF_STATE_ACCESS_KEY="..."
export TF_STATE_SECRET_KEY="..."
export TF_VAR_infra_password="${ICTSC_INFRA_PASSWORD}"

export CLOUDFLARE_API_TOKEN=""
export AWS_ACCESS_KEY_ID="${TF_STATE_ACCESS_KEY}"
export AWS_SECRET_ACCESS_KEY="${TF_STATE_SECRET_KEY}"
